
# Compiled files
*.class

# Logs
*.log

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Build folders
target/
build/
out/

# Maven
.mvn/
dependency-reduced-pom.xml

# Gradle
.gradle/

# Environment files
.env

# OS files
.DS_Store
Thumbs.db

